header { width: auto;
         height: 100px;
         background: -webkit-linear-gradient(#E2E5EA, white); /* For Safari */
         background: -o-linear-gradient(#E2E5EA, white); /* For Opera 11.1 to 12.0 */
         background: -moz-linear-gradient(#E2E5EA, white); /* For Firefox 3.6 to 15 */
         background: linear-gradient(#E2E5EA, white); /* Standard syntax */
         text-align: center;
         font-size: 50px;
         color: #717275;
}     

body { 
    background-color: #FAFBFC;
}

a, a:active { text-decoration: none }

#container {
    width: 1000px;
    height: auto;
    margin: 0 auto;
    text-align: justify;
    word-wrap: break-word;
}

#content {
    background-color: #F5F6F8;
    vertical-align: top;
    padding: 50px 10px 10px 10px;
    display: inline-block;
    float: left;
    width: 75%;
    border: 1px solid gray;
}

#infopanel {
    vertical-align: top;
    padding: 10px 10px 10px;
    display: inline-block;
    float: right;
    border: 1px solid cadetblue;
    width: 20%;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

#loginmodal {
    width: 300px;
    padding: 15px 20px;
    background: #f3f6fa;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}





