<header>Proman</header>
<div class="pure-menu pure-menu-open pure-menu-horizontal">
    <ul>
        <li><a href="ProjectController?action=listProject">Manage Projects</a></li>
        <li><a href="#">Manage Tasks</a></li>
        <li><a href="#">Monitor</a></li>
        <li><a href="#">User Profile</a></li>
        <li><a href=index.jsp>Home</a></li>
    </ul>
</div>
